/* Все переменные проекта */

:root {
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;
    --border: 1px solid var(--border-color);
    --btn-color: #FB4B4D;
    --container-width: 1397px;
    --border-color: #000;
}