/* Все переменные проекта */

:root {
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;
    --border: 1px solid var(--dark-color);
    --btn-color: #FB4B4D;
    --btn-text-color: white;
    --container-width: 1397px;
    --dark-color: #000;
    --footer-color: #CDFD3B;
}